:root {
  /* fonts */
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-2xs: 12px;
  --font-size-xs: 14px;
  --font-size-sm: 15px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;

  /* Colors */
  --color-gray-100: #9a8686;
  --color-gray-200: #857c7c;
  --black: #1e1e1e;
  --orange: #fd5f00;
  --color-red-200: rgba(253, 95, 0, 0.95);
  --blue: #2e29b6;
  --dark-blue: #19167a;
  --color-indigo-300: rgba(25, 22, 122, 0.83);
  --white: #fff;
  --color-black: #000;
  --color-fuchsia: #d145e8;
  --color-green-100: #a1ed65;
  --color-green-200: #1b7d31;
  --color-brown: #881212;
  --color-orange: #d8aa09;

  /* Gaps */
  --gap-sm: 9px;
  --gap-md: 16px;
  --gap-lg: 24px;

  /* border radiuses */
  --br-6xs: 5px;
  --br-5xs: 10px;
  --br-4xs: 11px;
  --br-3xs: 12px;
  --br-2xs: 15px;
  --br-xs: 18px;
  --br-sm: 20px;
  --br-md: 25px;
  --br-lg: 27px;
  --br-xl: 28px;
  --br-2xl: 39px;
  --br-3xl: 43px;
  --br-4xl: 51px;
  --br-5xl: 105px;

  /* Effects */
  --sombra-preguntas: 0px 5px 4px rgba(0, 0, 0, 0.35);
  --sombra-contacto: 0px 4px 4px rgba(0, 0, 0, 0.25),
    -3px -3px 6px rgba(0, 0, 0, 0.35);
  --sombra-horario: 0px -4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}
