body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.instance-child7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--dark-blue);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
.gym-y-jam22 {
  position: absolute;
  top: 49.65%;
  left: 29.07%;
  cursor: pointer;
}
.component-1-child15,
.component-1-child16 {
  position: absolute;
  height: 16.67%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 83.33%;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--white);
}
.component-1-child16 {
  width: 55.56%;
  top: 33.33%;
  right: 44.44%;
  bottom: 50%;
}
.component-19,
.tabler-icon-user-circle13 {
  position: absolute;
  height: 13.29%;
  width: 11.4%;
  top: 58.04%;
  right: 82.33%;
  bottom: 28.67%;
  left: 6.28%;
}
.tabler-icon-user-circle13 {
  height: 34.27%;
  top: 43.36%;
  right: 6.28%;
  bottom: 22.38%;
  left: 82.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent76 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 143px;
  font-size: var(--font-size-2xl);
}
.iphone-14-pro-max-4-child,
.iphone-14-pro-max-4-item {
  position: absolute;
  top: 203px;
  left: 3px;
  border-radius: var(--br-4xl);
  width: 424px;
  height: 307px;
  object-fit: cover;
}
.iphone-14-pro-max-4-item {
  top: 549px;
  cursor: pointer;
}
.ltima-novedad,
.octubre-2023 {
  position: absolute;
  top: 168px;
  left: 129px;
  font-weight: 200;
  color: var(--dark-blue);
}
.octubre-2023 {
  top: 508px;
  left: 141px;
}
.group-child90 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-blue);
  box-shadow: 0-15px 17px rgba(0, 0, 0, 0.25);
  width: 430px;
  height: 257px;
}
.group-child91 {
  position: absolute;
  top: 58px;
  left: 30px;
  width: 158px;
  height: 150px;
  object-fit: cover;
}
.gym-y-jam23,
.horario9 {
  position: absolute;
  top: 34px;
  left: 75px;
  text-align: left;
}
.horario9 {
  left: 281px;
}
.lunes-a-viernes9 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p29 {
  margin: 0;
}
.lunes-a-viernes-container9,
.ubicacin9 {
  position: absolute;
  top: 58px;
  left: 242px;
}
.ubicacin9 {
  top: 163px;
  left: 271px;
  text-align: left;
}
.ronda-magdalena-n159 {
  position: absolute;
  top: 184px;
  left: 242px;
  text-decoration: underline;
  font-weight: 300;
}
.todos-los-derechos9 {
  position: absolute;
  top: 224px;
  left: 110px;
  font-weight: 300;
}
.privacy-politics9 {
  text-decoration: underline;
}
.privacy-politics-cookie-container9 {
  position: absolute;
  top: 239px;
  left: 126px;
  font-weight: 300;
}
.rectangle-parent77 {
  position: absolute;
  top: 884px;
  left: 0;
  width: 430px;
  height: 257px;
  text-align: center;
  font-size: var(--font-size-2xs);
}
.iphone-14-pro-max-4 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1141px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--font-inter);
}
.gym-y-jam1 {
  position: absolute;
  top: 273px;
  left: 104px;
  cursor: pointer;
}
.inicio1,
.novedades1 {
  font-weight: 300;
  cursor: pointer;
}
.inicio1 {
  position: relative;
}
.novedades1 {
  text-decoration: underline;
}
.calculadora3,
.contacto1,
.novedades1 {
  position: relative;
}
.contacto1 {
  font-weight: 300;
  color: var(--orange);
  cursor: pointer;
}
.inicio-group {
  position: absolute;
  top: 363px;
  left: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.facebook-2-icon1,
.instagram-2-icon1,
.whatsapp-icon1 {
  position: absolute;
  top: 728px;
  left: 281px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.instagram-2-icon1,
.whatsapp-icon1 {
  left: 75px;
}
.whatsapp-icon1 {
  top: 729px;
  left: 178px;
}
.infogymjamcom1 {
  position: absolute;
  top: 878px;
  left: 92px;
  font-size: var(--font-size-xl);
  font-weight: 200;
}
.menu-novedades-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-red-200);
  width: 430px;
  height: 214px;
}
.tabler-icon-arrow-badge-down1,
.tabler-icon-user-circle1 {
  position: absolute;
  top: 19px;
  left: 312px;
  width: 76px;
  height: 76px;
  overflow: hidden;
}
.tabler-icon-user-circle1 {
  top: 7px;
  left: 30px;
  width: 101px;
  height: 101px;
}
.aos-tjoven1,
.carmen-garcia-monreal1 {
  position: absolute;
  top: 108px;
  left: 43px;
  font-weight: 300;
}
.aos-tjoven1 {
  top: 137px;
}
.tabler-icon-arrow-badge-down-group {
  position: absolute;
  top: 7px;
  left: 0;
  width: 430px;
  height: 213px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--dark-blue);
}
.shopping-cart-basket-21 {
  position: absolute;
  top: 814px;
  left: 178px;
  width: 33px;
  height: 33px;
  overflow: hidden;
  cursor: pointer;
}
.menu-novedades {
  position: relative;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(46, 41, 182, 0.95),
    rgba(25, 22, 122, 0.95) 60.64%
  );
  width: 389px;
  height: 932px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--white);
  font-family: var(--font-inter);
}
