body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.group-child92,
.group-child93 {
  position: absolute;
  top: 48px;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--white);
  box-shadow: var(--sombra-contacto);
  width: 403px;
  height: 214px;
}
.group-child93 {
  height: 249px;
}
.group-child94 {
  position: absolute;
  top: 72px;
  left: 20px;
  border-radius: var(--br-2xs);
  width: 181px;
  height: 178px;
  object-fit: cover;
}
.antiguas-reservas {
  position: absolute;
  top: 0;
  left: 100px;
  font-size: var(--font-size-lg);
  font-weight: 200;
}
.horario10,
.pump {
  position: absolute;
  left: 218px;
  font-weight: 200;
}
.pump {
  top: 72px;
  font-size: var(--font-size-lg);
}
.horario10 {
  top: 109px;
}
.carmen-garca-monreal {
  margin-block-start: 0;
  margin-block-end: 0;
}
.socio-1458569 {
  margin: 0;
}
.martes-20-enero-container,
.nombre-carmen-garca-container {
  position: absolute;
  top: 188px;
  left: 218px;
  font-weight: 200;
}
.martes-20-enero-container {
  top: 130px;
}
.interface-delete-bin-2 {
  position: absolute;
  top: 261px;
  left: 361px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child95 {
  position: absolute;
  top: 98px;
  left: 218px;
  background-color: var(--dark-blue);
  width: 163px;
  height: 2px;
}
.rectangle-parent78 {
  position: absolute;
  top: 491px;
  left: 13px;
  width: 403px;
  height: 297px;
}
.group-child96,
.group-child97 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--white);
  box-shadow: var(--sombra-contacto);
  width: 403px;
  height: 214px;
}
.group-child97 {
  height: 249px;
}
.group-child98 {
  position: absolute;
  top: 24px;
  left: 20px;
  border-radius: var(--br-2xs);
  width: 181px;
  height: 178px;
  object-fit: cover;
}
.body-combat {
  position: absolute;
  top: 24px;
  left: 218px;
  font-size: var(--font-size-lg);
  font-weight: 200;
}
.horario11,
.nombre-carmen-garca-container1 {
  position: absolute;
  top: 61px;
  left: 218px;
  font-weight: 200;
}
.nombre-carmen-garca-container1 {
  top: 140px;
}
.interface-favorite-heart1 {
  position: absolute;
  top: 214px;
  left: 326px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.mircoles-21-enero-container {
  position: absolute;
  top: 82px;
  left: 218px;
  font-weight: 200;
}
.group-child99 {
  position: absolute;
  top: 50px;
  left: 218px;
  background-color: var(--dark-blue);
  width: 163px;
  height: 2px;
}
.interface-delete-bin-21 {
  position: absolute;
  top: 214px;
  left: 361px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-parent79 {
  position: absolute;
  top: 805px;
  left: 13px;
  width: 403px;
  height: 249px;
}
.reservar-clase {
  position: absolute;
  top: 0;
  left: 119px;
  font-size: var(--font-size-lg);
  font-weight: 200;
}
.interface-favorite-heart2 {
  position: absolute;
  top: 261px;
  left: 326px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child103,
.rectangle-parent80 {
  position: absolute;
  top: 163px;
  left: 13px;
  width: 403px;
  height: 297px;
}
.group-child103 {
  top: 0;
  left: 0;
  background-color: var(--dark-blue);
  box-shadow: 0-15px 17px rgba(0, 0, 0, 0.25);
  width: 430px;
  height: 257px;
}
.group-child104 {
  position: absolute;
  top: 58px;
  left: 30px;
  width: 158px;
  height: 150px;
  object-fit: cover;
}
.gym-y-jam24,
.horario13 {
  position: absolute;
  top: 34px;
  left: 75px;
  text-align: left;
}
.horario13 {
  left: 281px;
}
.lunes-a-viernes-container10,
.ubicacin10 {
  position: absolute;
  top: 58px;
  left: 242px;
}
.ubicacin10 {
  top: 163px;
  left: 271px;
  text-align: left;
}
.ronda-magdalena-n1510 {
  position: absolute;
  top: 184px;
  left: 242px;
  text-decoration: underline;
  font-weight: 300;
}
.todos-los-derechos10 {
  position: absolute;
  top: 224px;
  left: 110px;
  font-weight: 300;
}
.privacy-politics10 {
  text-decoration: underline;
}
.privacy-politics-cookie-container10 {
  position: absolute;
  top: 239px;
  left: 126px;
  font-weight: 300;
}
.rectangle-parent81 {
  position: absolute;
  top: 1072px;
  left: 0;
  width: 430px;
  height: 257px;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--white);
}
.interface-favorite-heart3,
.iphone-14-pro-max-3-child {
  position: absolute;
  top: 752px;
  left: 338px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.iphone-14-pro-max-3-child {
  height: 1.54%;
  width: 4.92%;
  top: 12.19%;
  right: 89.03%;
  bottom: 86.28%;
  left: 6.05%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.atrs3 {
  position: absolute;
  top: 167px;
  left: 52px;
  font-size: var(--font-size-xs);
  background: linear-gradient(#9c9b9b, #9c9b9b), #9c9b9b;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.instance-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--dark-blue);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
.gym-y-jam25 {
  position: absolute;
  top: 49.65%;
  left: 29.07%;
  cursor: pointer;
}
.component-1-child17,
.component-1-child18 {
  position: absolute;
  height: 16.67%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 83.33%;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--white);
}
.component-1-child18 {
  width: 55.56%;
  top: 33.33%;
  right: 44.44%;
  bottom: 50%;
}
.component-110,
.tabler-icon-user-circle14 {
  position: absolute;
  height: 13.29%;
  width: 11.4%;
  top: 58.04%;
  right: 82.33%;
  bottom: 28.67%;
  left: 6.28%;
}
.tabler-icon-user-circle14 {
  height: 34.27%;
  top: 43.36%;
  right: 6.28%;
  bottom: 22.38%;
  left: 82.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent82 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 143px;
  font-size: var(--font-size-2xl);
  color: var(--white);
}
.iphone-14-pro-max-3 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1329px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark-blue);
  font-family: var(--font-inter);
}
.gym-y-jam2 {
  position: absolute;
  top: 273px;
  left: 104px;
  cursor: pointer;
}
.clases2,
.inicio2 {
  font-weight: 300;
  cursor: pointer;
}
.inicio2 {
  position: relative;
}
.clases2 {
  text-decoration: underline;
}
.calculadora5,
.clases2,
.contacto2 {
  position: relative;
}
.contacto2 {
  font-weight: 300;
  color: var(--orange);
  cursor: pointer;
}
.inicio-container {
  position: absolute;
  top: 363px;
  left: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.facebook-2-icon2,
.instagram-2-icon2,
.whatsapp-icon2 {
  position: absolute;
  top: 728px;
  left: 281px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.instagram-2-icon2,
.whatsapp-icon2 {
  left: 75px;
}
.whatsapp-icon2 {
  top: 729px;
  left: 178px;
}
.infogymjamcom2 {
  position: absolute;
  top: 878px;
  left: 92px;
  font-size: var(--font-size-xl);
  font-weight: 200;
}
.menu-clases-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-red-200);
  width: 430px;
  height: 214px;
}
.tabler-icon-arrow-badge-down2,
.tabler-icon-user-circle2 {
  position: absolute;
  top: 19px;
  left: 312px;
  width: 76px;
  height: 76px;
  overflow: hidden;
}
.tabler-icon-user-circle2 {
  top: 7px;
  left: 30px;
  width: 101px;
  height: 101px;
}
.aos-tjoven2,
.carmen-garcia-monreal2 {
  position: absolute;
  top: 108px;
  left: 43px;
  font-weight: 300;
}
.aos-tjoven2 {
  top: 137px;
}
.tabler-icon-arrow-badge-down-container {
  position: absolute;
  top: 7px;
  left: 0;
  width: 430px;
  height: 213px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--dark-blue);
}
.shopping-cart-basket-22 {
  position: absolute;
  top: 814px;
  left: 178px;
  width: 33px;
  height: 33px;
  overflow: hidden;
  cursor: pointer;
}
.menu-clases {
  position: relative;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(46, 41, 182, 0.95),
    rgba(25, 22, 122, 0.95) 60.64%
  );
  width: 389px;
  height: 932px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--white);
  font-family: var(--font-inter);
}
