body {
  margin: 0;
  line-height: normal;
}
.gym-y-jam1 {
  position: absolute;
  top: 273px;
  left: 104px;
  cursor: pointer;
}
.inicio1,
.novedades1 {
  font-weight: 300;
  cursor: pointer;
}
.inicio1 {
  position: relative;
}
.novedades1 {
  text-decoration: underline;
}
.calculadora3,
.contacto1,
.novedades1 {
  position: relative;
}
.calculadora3{
  color: rgba(240, 248, 255, 0);
}
.contacto1 {
  font-weight: 300;
  color: var(--orange);
  cursor: pointer;
}
.inicio-group {
  position: absolute;
  top: 363px;
  left: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.facebook-2-icon1,
.instagram-2-icon1,
.whatsapp-icon1 {
  position: absolute;
  top: 728px;
  left: 281px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.instagram-2-icon1,
.whatsapp-icon1 {
  left: 75px;
}
.whatsapp-icon1 {
  top: 729px;
  left: 178px;
}
.infogymjamcom1 {
  position: absolute;
  top: 878px;
  left: 92px;
  font-size: var(--font-size-xl);
  font-weight: 200;
}
.menu-novedades-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-red-200);
  width: 430px;
  height: 214px;
}
.tabler-icon-arrow-badge-down1,
.tabler-icon-user-circle1 {
  position: absolute;
  top: 19px;
  left: 312px;
  width: 76px;
  height: 76px;
  overflow: hidden;
}
.tabler-icon-user-circle1 {
  top: 7px;
  left: 30px;
  width: 101px;
  height: 101px;
}
.aos-tjoven1,
.carmen-garcia-monreal1 {
  position: absolute;
  top: 108px;
  left: 43px;
  font-weight: 300;
}
.aos-tjoven1 {
  top: 137px;
}
.tabler-icon-arrow-badge-down-group {
  position: absolute;
  top: 7px;
  left: 0;
  width: 430px;
  height: 213px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--dark-blue);
}
.shopping-cart-basket-21 {
  position: absolute;
  top: 814px;
  left: 178px;
  width: 33px;
  height: 33px;
  overflow: hidden;
  cursor: pointer;
}
.menu-novedades {
  position: relative;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(46, 41, 182, 0.95),
    rgba(25, 22, 122, 0.95) 60.64%
  );
  width: 389px;
  height: 932px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--white);
  font-family: var(--font-inter);
}
